<form id="edit_TemperatureProbeForm">
    <div class="ui-field-contain">
        <label for="edit_TemperatureProbeForm_name">Name:</label>
        <input type="text" name="name1" id="edit_TemperatureProbeForm_name" value="<%= model.get('name') %>"
               data-clear-btn="true">
    </div>
    <div class="ui-field-contain">
        <div data-role="rangeslider">
            <label for="edit_TemperatureProbeForm_noticesrange_min">Safe:</label>
            <input type="range" name="range-1a" id="edit_TemperatureProbeForm_noticesrange_min" min="-10" max="50"
                   value="<%= model.get('notices_range').min %>"/>
            <label for="edit_TemperatureProbeForm_noticesrange_max">Safe:</label>
            <input type="range" name="range-1b" id="edit_TemperatureProbeForm_noticesrange_max" min="-10" max="50"
                   value="<%= model.get('notices_range').max %>"/>
        </div>
    </div>
    <div class="ui-field-contain">
        <label for="edit_TemperatureProbeForm_notices">Notification:</label>
        <select name="flip1" id="edit_TemperatureProbeForm_notices" data-role="slider">
            <option value="off"
            <%= !model.get('notices') ? 'selected="selected"' : '' %> >Off</option>
            <option value="on"
            <%= model.get('notices') ? 'selected="selected"' : '' %> >On</option>
        </select>
    </div>
</form>
